[submodule "lib/assets/templates/shower-ows"]
	path = lib/assets/templates/shower-ows
	url = https://github.com/OpenWebslides/template-shower-ows.git
[submodule "web"]
	path = web
	url = git@github.com:OpenWebslides/openwebslides-frontend.git
