<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', URI.join(root_url, '/auth/confirmation', "?confirmationToken=#{@token}").to_s %></p>
