<p>Hey there!</p>

<p>We're just emailing you to notify you that your password has been changed.</p>

<div class="row center">
  <%= link_to 'Go to my account settings', URI.join(root_url, '/user/settings').to_s, :class => 'button' %>
</div>
