<p>Hey there!</p>

<p>Someone (hopefully you) has requested a link to change your password. You can do this through the link below.</p>

<div class="row center">
  <%= link_to 'Change my password', URI.join(root_url, '/auth/password', "?resetPasswordToken=#{@token}").to_s, :class => 'button' %>
</div>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't be changed until you access the link above and set a new one.</p>
