<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      body {
        font-size: 14px;
        font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
        color: rgba(0, 0, 0, 0.68);

        background: rgba(41, 35, 92, .04);
      }

      a {
        color: rgba(0, 0, 0, 0.68);
        text-decoration: underline;
        font-weight: bold;
      }

      .button a { color: white !important; }

      .button {
        padding: 0.8em 1.5em 0.8em;
        margin: 1em 1em;

        background-color: #d60b52;

        color: white;
        text-shadow: none;
        text-decoration: none;
        text-align: center;
        font-weight: bold;

        border-radius: 5px;

        cursor: pointer;
        outline: none;
      }

      .row { padding: 1.5em; }
      .center { text-align: center; }

      .container {
        width: 600px;
        padding: 1em 2em;

        margin: 2em auto 0 auto;

        background: white;
        border-radius: 5px;
      }

      footer {
        width: 60%;
        margin: 0 auto;

        font-size: 12px;
        text-align: center;
      }

      blockquote {
        background: #f9f9f9;
        border-left: 10px solid #ccc;
        margin: 1.5em 0;
        padding: 1em 10px;
        quotes: "\201C""\201D""\2018""\2019";
        text-align: left;
      }

      blockquote:before {
        color: #ccc;
        content: open-quote;
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em;
      }

      blockquote .subject {
        font-style: italic;
        color: rgba(0, 0, 0, 0.4);
        padding: 1em 5em 0 5em;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="row center">
        <%= link_to root_url do %>
          <img src="<%= URI.join(root_url, 'logo-email.png').to_s %>" alt="Open Webslides" />
        <% end %>
      </div>

      <div class="row">
        <%= yield %>
      </div>

      <footer class="row center">
        You are receiving this email because you chose to receive important email notifications. If at any time you wish to stop receiving these, you can update <a href="<%= URI.join(root_url, '/user/settings').to_s %>">your preferences</a>
        <p><strong>
          &copy; 2018 Open Webslides
        </strong></p>
      </footer>
    </div>
  </body>
</html>
